# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [45]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp, chi2, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [10]:
pokemon.Legendary.value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
pokemon.groupby('Legendary')['Total'].mean()

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [13]:
pokemon.groupby('Legendary')['Total'].std()

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
nuevo_dataframe = pokemon.pivot_table(index='Name', columns='Legendary', values='Total', aggfunc='first').reset_index()
nuevo_dataframe.columns = ['Name', 'Total_No_Legendary', 'Total_Legendary']
nuevo_dataframe

                        Name  Total_No_Legendary  Total_Legendary
0                  Abomasnow               494.0              NaN
1    AbomasnowMega Abomasnow               594.0              NaN
2                       Abra               310.0              NaN
3                      Absol               465.0              NaN
4            AbsolMega Absol               565.0              NaN
..                       ...                 ...              ...
795                  Zoroark               510.0              NaN
796                    Zorua               330.0              NaN
797                    Zubat               245.0              NaN
798                 Zweilous               420.0              NaN
799         Zygarde50% Forme                 NaN            600.0

[800 rows x 3 columns]

In [27]:
ttest_ind(nuevo_dataframe['Total_No_Legendary'].dropna(), nuevo_dataframe['Total_Legendary'].dropna())

Ttest_indResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Existe una diferencia significativa entre el número total de puntos de los pokemons legendarios y no legendarios

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [28]:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [33]:
# Your code here:
grupo_agua = pokemon[pokemon['Type 1'] == 'Water']['Total']
grupo_no_agua = pokemon[pokemon['Type 1'] != 'Water']['Total']
grupo_agua.mean(),grupo_no_agua.mean()

(430.45535714285717, 435.85901162790697)

In [34]:
grupo_agua.std(),grupo_no_agua.std()

(113.18826606431458, 121.09168230208066)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [36]:
ttest_ind(grupo_agua, grupo_no_agua)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
'''
Dado que el valor p (0.6587) es mayor que el nivel de significancia comúnmente utilizado de 0.05, no hay suficiente evidencia
para rechazar la hipótesis nula. En términos prácticos, esto sugiere que no hay una diferencia significativa en los totales de los Pokémon 
tipo agua y los Pokémon que no son tipo agua.
'''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [38]:
# Your code here:

ttest_rel(pokemon['Attack'], pokemon['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [12]:
'''
Dado que el valor p es muy pequeño, generalmente menor que un nivel de significancia común
como 0.05, se rechaza la hipótesis nula de que las medias de las dos muestras son iguales.

'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [40]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

'''
Dado que el valor p es muy pequeño, generalmente menor que un nivel de significancia común
como 0.05, se rechaza la hipótesis nula de que las medias de las dos muestras son iguales.

'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [42]:
# Your code here:
resta = pokemon['Attack'] - pokemon['Defense']
ttest_1samp(resta, 0, alternative='two-sided')

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [ ]:
'''
Dado que el valor p es muy pequeño, generalmente menor que un nivel de significancia común
como 0.05, se rechaza la hipótesis nula de que las medias de las dos muestras son iguales.

'''

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [43]:
# Your code here:
chichi = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')
chichi

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [46]:
# Your code here:
chi2_contingency(chichi)

Chi2ContingencyResult(statistic=2.9429200762850503, pvalue=0.08625467249550949, dof=1, expected_freq=array([[632.1, 102.9],
       [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
'''
Dado que el pvalue es superior a 0,05, no existe suficiente evidencia como para rechazar 
la hipótesis nula de independencia

'''